<html lang="en">

<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="./stylesheets/style.css"/>-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.0/b-colvis-1.5.0/datatables.min.css"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Reech Admin</title>
    <link rel="shortcut icon" href="./images/reech.ico"/>
    <script type="text/javascript" src="public/js/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="public/stylesheets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.0/b-colvis-1.5.0/datatables.min.js"></script>
    <script type="text/javascript" src="public/js/brokerList.js"></script>

</head>

<body id="root">
<a href="/auth/logout">Log out</a>
<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <table id="brokersList" class="display" cellspacing="0" width="90%">
                    <thead>
                    <tr>
                        <th>key</th>
                        <th>empl_name</th>
                        <th>licenseNumber</th>
                        <th>emp_email</th>
                        <th>city</th>
                        <th>State</th>
                        <th>county_name</th>
                        <th>agt_name</th>
                    </tr>
                    </thead>
                    <!--<tfoot>-->
                    <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>Position</th>-->
                    <!--<th>Office</th>-->
                    <!--<th>Extn.</th>-->
                    <!--<th>Start date</th>-->
                    <!--<th>Salary</th>-->
                    <!--</tr>-->
                    <!--</tfoot>-->
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>